{% extends 'layout.html' %}

{% block title%}Домашняя страница{% endblock %}

{% block content %}
    <div>
        <a class="menu_block" href="{% url 'home' %}"><h4>Главная страница</h4></a>
        <a class="menu_block" href="{% url 'testfilter' %}"><h4>Подобрать кружок</h4></a>
        <a class="menu_block" href="{% url 'liked' %}"><h4>Избранные кружки</h4></a>
        <a class="menu_block" href="{% url 'contacts' %}"><h4>Наши контакты</h4></a>
        <a class="menu_block" href="{% url 'account' %}"><h4>Аккаунт</h4></a>
    </div>
{% endblock %}
