{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/pc.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://www.w3.org/TR/CSS21/text.html#propdef-text-decoration">
</head>
<body>
    <div class = 'header'>
        <div class = 'title'>
            <a class = 'label'>circles39</a>
        </div>
        <div class = 'menu'>
            <a class = 'menu_block' href = "{% url 'home' %}">Главная</a>
            <a class = 'menu_block' href = "{% url 'add' %}">Добавить кружок</a>
            <a class = 'menu_block' href = "{% url 'testfilter' %}">Подобрать кружок</a>
            <a class = 'menu_block' href = "{% url 'liked' %}">Избранные</a>
            <a class = 'menu_block' href = "{% url 'contacts' %}">О нас</a>
            <a class = 'menu_block' href = "{% url 'account' %}">Профиль</a>
            <a class = 'menu_block'>Выйти</a>
        </div>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>