{% extends 'layout.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    {% load static %}
    <div>
        <form action="log-in" method="post">
            <label class="input_text" for="login">Имя пользователя: </label>
            <input id="login" type="text" name="login" required>
            {% csrf_token %}
            {{ form }}
            <br>
            <label class="input_text" for="password">Пароль: </label>
            <input id="password" type="text" name="password" required>
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" value="OK">
        </form>
    </div>
{% endblock %}